<	
	<div id="blockTxt1"> Connect to have all the recent novelties of Fradant</div>
    		
    		
    	<div id="formu">
    		
			<form>
					
				<h1>Login</h1>
				
				<label for="usr">Enter your username :</label>
				<input name="info" id="usr" placeholder="Enter Username or e-mail " type="text" size="20" minlenght="8" maxlenght="20" required><br><br>

				<label for="pwd">Enter your Password :</label>
				<input  id="pwd" placeholder="Enter your password " type="password" size="30" minlenght="8" maxlenght="30" required><br><br>
					
										
				<div id="frgPwd"><a href="forgetPwd"> forgot your password ?</a></div><br>
					
				<div id="signUp"><a href="signup"> Sign Up</a></div><br>
					
				<input  id="submit" value="Sign In" type ="submit">

			</form>
				
    	</div>
