
<div class="" id="param-css"></div>

<style>

canvas {

} 
#param-css{
	color: #ffffff;
	font-style: normal;
	font-size: 16px;
	font-family: Tahoma,Arial;
	font-weight: normal;
	text-align: left;
	text-justify: inter-word;
	line-height: 150%;
}	

</style>
