<div class="" id="param-css"></div>

<nav class="menu1">
  <ul>
    <li><a onclick="saveImage();">export Image</a></li>
    <li><a href="Contact">send image via mail </a></li>
    <li><a href="">view saved images</a></li>
    <li><a href="">log out </a></li>
  </ul>
</nav>on

<div class="menu2">
		<div id="back" class="box">
			<button name="go-back">go Back</button>		
		</div>

		<div class="box">
			<button onclick="reset();" name="reset">Reset</button>		
		</div>	 
		
		<select onchange='reset();'name="colours" id="colours">
			<option value="a" id="">pink-blue</option>
			<option value="c" id="">blue-red</option>
			<option value="d" id="">yellow-light green</option>
			<option value="e" id="">light-pink-yellow</option>
			<option value="g" id="">red-orange</option>
		</select>

		<div class="box">
		  	<label value="100" for="iterations">ITERATIONS</label>
		  	<input id="iterations" name="iterations"type="text/numbers"></input>

		  	<label for="fractal">Select the fractal</label>
		  	<select name="fractal" id="fractal" >
		  		<option value="mandelbrot">mandelbrot</option>
		  		<option value="julia">Julia set for fc, c = (φ − 2) + (φ − 1)i = −0.4 + 0.6i</option>
		  		<option value="julia2">Julia set for f(c), c = 0.285 + 0i</option>
		  		<option value="julia3">Julia set for fc, c = 0.285 + 0.01i</option>
		  		<option value="julia4">Julia set for fc, c = 0.45 + 0.1428i</option>
		  		<option value="julia5">Julia set for fc, c = −0.70176 − 0.3842i</option>
		  		<option value="julia6">Julia set for fc, c = −0.835 − 0.2321i</option>
		  		<option value="julia7">Julia set for fc, c = −0.8 + 0.156i</option>
		  		<option value="julia8">Julia set for fc, c = −0.7269 + 0.1889i</option>
		  		<option value="goldenratio">Filled Julia set for fc, c = 1 − φ, where φ is the golden ratio</option>
		  		<option value="magicselect">MagicSelect</option>
		  	</select>

		  	<button onclick="clear();">Clear </button>
			<button onclick="zoomOut();">Zoom out </button>
			<!--  <div class="box"><input id="iterations "type="range" min="30", max="1000"></div> -->

		</div>

		  
</div>

  <script src="../scripts/mandelbrot.js"></script>

<style>

body{
	display: flex;
	flex-direction: column;
}
canvas .pallet {
	flex-direction: column;

}
canvas 
{
 margin-top: 30px;
  margin-bottom: 30px;
}
.menu1{
	width: 50%;
	list-style: none;
	margin: 0;
	margin-left: 60%;
	padding: 0;
}

.menu1 ul{
	right: 0px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 50%;
}


.menu1 ul li{
	width: 100%;
	height: 20%;
	background-color: purple;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	margin-bottom: 5px;
	letter-spacing: 2px;
}

.menu1 ul li a{

	 text-decoration: none;
	 color: white;
}

.menu1 ul li a:hover{

	background-color: green;
}

.box{
	color: white;
	font-style: normal;
	font-size: 12px;
	font-family: Tahoma,Arial;
	font-weight: normal;
	text-align: center;
	line-height: 150%;
	height: 50px;
	display: flex;
	flex-direction: column;
	margin:0px;

}

.menu2{
	width: 20%;
	list-style: none;
	margin-left: 77%;
	margin-top: 2%;
	padding: 0;
}

.menu2 #colours{
	width:100%;
	text-align:center;
}

.menu2 #fractal{
	text-align:center;
}

</style>

