<div class="" id="param-css"></div>

<nav class="menu">
  <ul>
    <li><a href="Accueil">Save image to server</a></li>
    <li><a href="Apropos"></a></li>
    <li><a href="Contact">send image via mail </a></li>
    <li><a href="">view saved images</a></li>
    <li><a href="">log out </a></li>
  </ul>
</nav>
<div class="menu">
		<div class="box">
			<label for="xsize"> width?</label>
			<input name="xsize" type="text/numbers">			
		</div>
		<div class="box">
			<label for="ysize"> height?</label>
			<input name="ysize" type="text/numbers">
					
		</div>	
		<div id="back" class="box">
			<button name="go-back">go Back</button>		
		</div>	
		<div>
			<button onclick="reset();" name="reset">Reset</button>		
		</div>	

		  <button+></button>  
		
		<select name="colours" id="colours">
			<option value="a" id="">pink-blue </option>
			<option value="b" id="">b</option>
			<option value="c" id="">c</option>
			<option value="d" id="">d</option>
			<option value="e" id="">e</option>
			<option value="f" id="">f</option>
			<option value="g" id="">g</option>
		</select>
		  <div class="box">
		  	<<label value="100" for="iterations">ITERATIONS</label>
		  	<input id="iterations" name="iterations"type="text/numbers"></input>
		  		<label for="fractal">Select the fractal</label>
		  	<select name="fractal" id="fractal" >
		  		<option value="mandelbrot">mandelbrot</option>
		  		<option value="julia">Julia set for fc, c = (φ − 2) + (φ − 1)i = −0.4 + 0.6i</option>
		  		<option value="julia2">Julia set for f(c), c = 0.285 + 0i</option>
		  		<option value="julia3">Julia set for fc, c = 0.285 + 0.01i</option>
		  		<option value="julia4">Julia set for fc, c = 0.45 + 0.1428i</option>
		  		<option value="julia5">Julia set for fc, c = −0.70176 − 0.3842i</option>
		  		<option value="julia6">Julia set for fc, c = −0.835 − 0.2321i</option>
		  		<option value="julia7">Julia set for fc, c = −0.8 + 0.156i</option>
		  		<option value="julia8">Julia set for fc, c = −0.7269 + 0.1889i</option>
		  		<option value="goldenratio">Filled Julia set for fc, c = 1 − φ, where φ is the golden ratio</option>
		  		<option value="magicselect">MagicSelect</option>
		  	</select>
		  </div>
		  <button onclick="clear();">Clear </button>

		  <button onclick="zoomOut();">Zoom out </button>
		<!--  <div class="box">
		  	<input id="iterations "type="range" min="30", max="1000">
		  </div> -->
</div>

  <script src="../scripts/mandelbrot.js"></script>

<style>
/*
body{
	display: flex;
	flex-direction: column;
}
canvas  .pallet {
	flex-direction: column;
} 

#window-size{
	background-color: orange;
	height: 300px;
	width: 300px;
	display: flex;
	flex-direction: column;
}
*/
.box{
	color: white;
	font-style: normal;
	font-size: 16px;
	font-family: Tahoma,Arial;
	font-weight: normal;
	text-align: center;
	line-height: 150%;
	height: 100px;
	width: 100px;
	display: flex;
	flex-direction: column;

}
/*
#param-css{
	color: #ffffff;
	font-style: normal;
	font-size: 16px;
	font-family: Tahoma,Arial;
	font-weight: normal;
	text-align: left;
	text-justify: inter-word;
	line-height: 150%;
}	
*/
canvas{margin-left:500px;}
.menu {display: flex; flex-direction: row,align-content: center; }
#diplays{
	display: flex;
	flex-direction: row;
	align-content: space-between;}
</style>

