<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    	<div id="blockTxt1"> Please fill out the form below </div>

    	<div id="blockTxt2"> Register to receive notifications by e-mail or by phone number each time there will be news in Fradant </div>
    		
    		
    	<div id="formu">
    		<br><br><br><br><br><br><br><br>
			<form action='/users' method='POST'>
				
				<h1>Sign Up</h1>
					
					
				<label for="name">Enter a Username: </label>
				<input class="info" name="name" id="name" placeholder="Ex : Radja" type="text" size="20" minlenght="8" maxlenght="20" required><br>
	
				
				<label for="email*">*Enter your e-mail : </label>
				<input name=email class="info" id="mail1" type="email" placeholder="  your@email.com " pattern=".+@.+..+" size="30" required><br>

				<label for="pwd1">*Create your password : </label>	
				<input  name="password" class="info" id="pwd1" type="password" placeholder="********" maxlenght="20" required><br>
				
				<label for="pwd2">*Confirm your password : </label>	
				<input  name="password"class="info" id="pwd2" type="password" placeholder="********" minlenght="8" maxlenght="20" required><br>
					
					
				accept the terms and conditions of our site : <input  id="Conditions" type="checkbox"><br>
				accept to receive news from the site : <input  id="News" type="checkbox"><br>
					
					
				<br><input  class="info" id="submit" value="Sign Up" type ="submit">
				<input  class="info" id="return" value="Return" type ="button" >
				<input  class="info" id="refresh" value="Refresh" type ="reset">

			</form>
				
    	</div> 
