body {
background-image: url("../images/backgr.gif");
background-attachment: fixed; /* Le fond restera fixe */
}

#blockImg
{
 position: relative;
 width: 100%;
 text-align: center;
 vertical-align: top;
 font-size:13px;
}


#blockImg p {

    width: 100%;
    margin : auto;
    z-index: 200;
}

.containor span{
	text-transform: uppercase;
	display: block;
}   

#blockTxt1
{
 width: 50%;
 position: absolute;
 top: 25px;
 left: 25%;
 text-shadow: 1px 1px cyan;
 text-align: center;
 font-family: "Segoe Script", Arial, Sans-serif;
 font-size: 4.5em;
 color: yellow;
 letter-spacing: 8px;
 margin-bottom: 20px;
 animation: text 4s 1;
} 


#blockTxt2
{
 width: 100%;
 position: absolute;
 top: 100px;
 left: 0px;
 text-align: center;
 font-family: "Segoe Script", Arial, Sans-serif;
 font-size: 2.5em;
 color: white;
 animation: slideout 3s 1;

}
 
@keyframes text{
	0%{
		margin-bottom: -40%;
	}

	30%{
		letter-spacing: 40px;
		margin-bottom: -40px;
	}

	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}

@keyframes slidein {

  from {

    margin-left: 100%;
    width: 30%;
    
  }

  to {

    margin-left: 0%;
    width: 30%;
    
  }

}

@keyframes slideout {

  from {

    margin-left: -100%;
    margin-top: 100%;

    
  }

  to {

  	margin-left: 0%;
    margin-top: 0%
    
  }

 }

#formu{

 width: 30%;
 position: absolute;
 top: 600%;
 left: 35%;
 text-align: center;
 font-family: Verdana, Arial, Sans-serif;
 font-size: 1.5em;
 color: white;
 box-shadow:  15px -15px 20px 15px rgba(20, 10, 10, 0.9) ;
 animation: slidein 3s 1;
 border: 2px solid black;
}


#submit:hover
{
 border: 2px solid black;
 background-color: gray;
}

#frgPwd
{
	color: black;
}

#frgPwd:hover
{
 border: 1px solid gray;
 color: gray;
 
}


#signUp
{
 color: white;

}

#signUp:hover
{
 border: 1px solid gray;
}

#propos{

 position: absolute;
 top: 1900%;
 left: 10%;
 font-size: 1.5em;


}

#contact{

 position: absolute;
 top: 2000%;
 left: 10%;
 font-size: 1.5em;


}

#facebook{

 position: absolute;
 top: 1900%;
 left: 60%;

}

#twetter{

 position: absolute;
 top: 1900%;
 left: 70%;


}

#instagram{
	
 position: absolute;
 top: 1900%;
 left: 80%;

}

#hash{
	
 position: absolute;
 top: 2200%;
 left: 10%;
 font-size: 2.5em;

}

a {

 color: white;
 text-decoration: underline;
}



