body {
background-image: url("../images/colorful.gif");
background-attachment: fixed; /* Le fond restera fixe */

}

#logo
{
  left: -10%;
  width: 700px;
  height: 300px;
  position: relative;
} 

nav{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  right: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;  
}

ul li{

  float: left;
  width: 28%;
  height: 10%;
  background-color: purple;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  margin-left: 15px;
  letter-spacing: 2px;
}

ul li a{

   text-decoration: none;
   color: white;
   display: block;
   justify-content: flex-end;
}

ul li a:hover{

  background-color: green;
}

ul li ul li{

  display: none;
  letter-spacing: 2px;
  
}

ul li:hover ul li {

  display: block;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
}

#blockTxt1
{
  padding-top: 50px; 
 width: 100%;
 position: absolute;
 top: 30%;
 text-align: center;
 font-family: Brush Script MT;
 font-size: 4.5em;
 color: white;
 animation: slideout 3s 1;

}
 
label{

  display: inline-block;
  min-width: 50%;
  margin-bottom: 20px;
  padding: 0;
}

#formu{

 width: 30%;
 position: absolute;
 top: 50%;
 left: 35%;
 text-align: center;
 font-family: Verdana, Arial, Sans-serif;
 font-size: 1.5em;
 color: white;
 box-shadow:  -15px 15px 20px 15px rgba(20, 30, 50, 0.4) ;
 animation: slidein 3s 1;
 border: 2px solid black;
 border-radius: 50px;

}

#submit{
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 20px;
}
#submit:hover
{
 border: 2px solid black;
 background-color: gray;
 padding: 10px 30px;
}

#usr{
  border-radius: 50px;
  padding: 10px 10px;
  box-shadow:  15px 15px 20px 15px rgba(20, 10, 10, 0.9) ;
}

#pwd{
  border-radius: 50px;
  padding: 10px 10px;
  box-shadow:  15px 15px 20px 15px rgba(20, 10, 10, 0.9) ;
}
#frgPwd
{
	color: black;
  
}

#frgPwd:hover
{
 border: 1px solid gray;
 color: gray;
 
}


#signUp
{
 color: white;


}

#signUp:hover
{
 border: 1px solid gray;
}

#propos{

 position: absolute;
 top: 120%;
 left: 10%;
 font-size: 1.5em;


}

#contact{

 position: absolute;
 top: 130%;
 left: 10%;
 font-size: 1.5em;


}

#facebook a{
 color: blue;
 position: absolute;
 top: 140%;
 left: 70%;

}

#twitter a{

 color: rgb(29,161,242);
 position: absolute;
 top: 140%;
 left: 80%;


}

#instagram a{

 color: brown;
 position: absolute;
 top: 140%;
 left: 90%;

}

#hash {
 color: pink;
 position: absolute;
 top: 160%;
 left: 10%;
 font-size: 2.5em;

}

#Language{

 position: absolute;
 top: 160%;
 left: 45%;
 font-size: 1em;
 background-color: gray;
 box-shadow: -8px 8px 15px 8px rgba(30, 50, 80, 0.4) ;

}

a {

 color: white;
 text-decoration: underline;
}

@keyframes text{
  0%{
    margin-bottom: -40%;
  }

  30%{
    letter-spacing: 40px;
    margin-bottom: -40px;
  }

  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@keyframes slidein {

  from {

    margin-left: 100%;
    width: 30%;
    
  }

  to {

    margin-left: 0%;
    width: 30%;
    
  }

}

@keyframes slideout {

  from {

    margin-left: 100%;
    margin-top: -100%;

    
  }

  to {

    margin-left: 0%;
    margin-top: 0%
    
  }

 }




