body{
	background-image: url(../images/test.jpg) ;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}


#logo
{
	left: -10%;
    top: ;
    width: 700px;
    height: 300px;
    position: relative;
} 

nav{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul {
	right: 0px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;	
}

nav ul li{

	float: left;
	width: 28%;
	height: 10%;
	background-color: purple;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	margin-left: 15px;
	letter-spacing: 2px;
}

nav ul li a{

	 text-decoration: none;
	 color: white;
	 display: block;
	 justify-content: flex-end;
}

nav ul li a:hover{

	background-color: green;
}

nav ul li ul li{

	display: none;
	letter-spacing: 2px;
	
}

nav ul li:hover ul li {

	display: block;
	width: 100%;
	height: 40px;
	margin: 0px;
	padding: 0px;
}

#AboutFradant{
	border-radius: 10%;
	box-shadow:  8px 5px 12px 5px purple;
	text-align: center;
	padding: 0;
    margin-left: 8%;
    margin-top: 100px;
	width: 60%;
	color: white;
	font-size: 2em;
	font-family: Brush Script MT;
	letter-spacing: 1px;
	animation: slideout 3s 1;
}

#WhoAreWe{
	border-radius: 10%;
	box-shadow:  8px 5px 12px 5px purple;
	padding: 0;
    margin-left: 120px;
    margin-top: 100px;
	width: 50%;
	color: white;
	font-size: 2em;
	text-align: center;
	font-family: Brush Script MT;
	letter-spacing: 1px;
	animation: slidein 3s 1;
}

t3{
	color: blue;
	font-size: 2em;

}

#ContactUs{
	border-radius: 10%;
	box-shadow:  8px 5px 12px 5px purple;
	padding: 0;
    margin-left: 65%;
    margin-top: -65%;
    width: 30%;
    font-size: 1.5em;
	font-family: Brush Script MT;
	letter-spacing: 1px;
	text-align: center;
	animation: slidein 3s 1;
}

#ContactUs ul li{
 color: white;

}

#pic{
	 margin-top: 50px;
}

#pic p{

	font-size: 1em;
	text-decoration: overline;
	text-decoration-color: purple;
}

#Language{

 position: absolute;
 top: 250%;
 left: 75%;
 font-size: 1em;
 background-color: gray;
 box-shadow:  -8px 8px 15px 8px rgba(30, 50, 80, 0.4) ;
}

#facebook a{
 color: blue;
 position: absolute;
 top: 225%;
 left: 70%;

}

#twitter a{
 color: rgb(29,161,242);
 position: absolute;
 top: 225%;
 left: 80%;

}


#instagram a{
 color: brown;
 position: absolute;
 top: 225%;
 left: 90%;

}


#hash{
	
 position: absolute;
 top: 260%;
 left: 10%;
 font-size: 2.5em;
 color: pink;

}

a {
 color: purple;
 text-decoration: underline;
}

@keyframes slidein {

  from {

    margin-left: -100%;    
  }

  to {
  	/*chacun a sa position*/
  }

}

@keyframes slideout {

  from {

    margin-left: 100%;
    margin-top: -100%;

    
  }

  to {

  	margin-left: 8%;
    
    
  }

 }