body{

	background-image: url(../images/colorful.gif) ;
	background-attachment: fixed;
	padding: 0;
	margin: 0;

}


#logo
{
	left: -10%;
    top: ;
    width: 700px;
    height: 300px;
    position: relative;
} 

nav{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul {
	right: 0px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;	
}

ul li{

	float: left;
	width: 28%;
	height: 10%;
	background-color: purple;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	margin-left: 15px;
	letter-spacing: 2px;
}

ul li a{

	 text-decoration: none;
	 color: white;
	 display: block;
	 justify-content: flex-end;
}

ul li a:hover{

	background-color: green;
}

ul li ul li{

	display: none;
	letter-spacing: 2px;
	
}

ul li:hover ul li {

	display: block;
	width: 100%;
	height: 40px;
	margin: 0px;
	padding: 0px;
}

.Search{
	text-align: center;
}

.Search form{
	position:absolute;
	top: 110%;
	left:5%;
	padding: 0px;
	margin: 0px;
	width: 40%;
	height: 100px;
	animation: slideout 3s 1;
	
}

.Search form input:hover{

	background-color: purple;
	border:none;
	outline: none;
	border-radius: 20%;
	width: 60%;
	font-size: 20px;
	box-shadow: -15px 15px 20px 15px rgba(80, 50, 50, 0.4) ;
	transition: 2s;
	
}

.Search input{

	background-color: gray ;
	border:none;
	width: 45%;
	height: 50%;
	border-radius: 20%;
	outline: none;
	font-size: 20px;
	text-align: center;
	box-shadow: 0px 15px 20px 15px rgba(30, 50, 80, 0.4) ;
	
}

#blocktext1{

	width: 50%;
	margin-top:5%;
	color: white;
	font-size: 4em;
	font-family: Brush Script MT;
	font-weight: 900;
	text-align: center;
	letter-spacing: 4px;
	animation: text 3s 1;
}

#blocktext2{

	color: white;
	font-size: 2.5em;
	font-family: Brush Script MT;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	animation: slidein 3s 1;
	margin-left: 55%;
	width: 40%;
	box-shadow:  8px 5px 12px 5px purple;

}

#use{

	position: absolute;
	top: 55%;
	left:5%;
	font-family: Brush Script MT;
	font-size: 2.5em;
	text-align: center;
	width: 40%;
	box-shadow:  8px 5px 12px 5px purple;
	border: 2px white;
	margin-bottom: 20px;
	margin-top: 20px;

	
}

#use a{

	text-decoration: none;	
	left: 5%;
	color: white;	
	animation: sliding 3s 1;
}

#use a:hover{

	text-decoration: none;	
	left: 5%;	
	color: blue ;

}

#blocktext3{

	position: absolute;
	top: 90%;
	left:5%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: Brush Script MT;
	font-size: 2.5em;
	width: 40%;
	height: 30%;
	box-shadow:  8px 5px 12px 5px purple;
	animation: slideout 3s 1;
}



#blocktext4{

	position: absolute;
	top: 135%;
	left: 45%;
	display: flex;
	color: white;
	font-size: 2.5em;
	font-family: Brush Script MT;
	width: 40%;
	box-shadow:  8px 5px 12px 5px purple;
	animation: slideout 3s 1;
}

#Language{

 position: absolute;
 top: 200%;
 left: 45%;
 font-size: 1em;
 background-color: gray;
 box-shadow: -8px 8px 15px 8px rgba(30, 50, 80, 0.4) ;

}


#propos{

 position: absolute;
 top: 160%;
 left: 10%;
 font-size: 1.5em;
}

#contact{

 position: absolute;
 top: 165%;
 left: 10%;
 font-size: 1.5em;


}

#facebook a{
 color: blue;
 position: absolute;
 top: 180%;
 left: 70%;

}

#twitter a{
 color: rgb(29,161,242);
 position: absolute;
 top: 180%;
 left: 80%;

}


#instagram a{
 color: brown;
 position: absolute;
 top: 180%;
 left: 90%;

}


#hash{
	
 position: absolute;
 top: 190%;
 left: 10%;
 font-size: 2.5em;
 color: pink;

}

a {
 color: blue;
 text-decoration: underline;
}

@keyframes text{
	0%{
		margin-bottom: -20%;
	}

	30%{
		letter-spacing: 10px;
		margin-bottom: -20px;
	}

	85%{
		letter-spacing: 6px;
		margin-bottom: 20px;
	}
}

@keyframes slidein {

  from {

    margin-left: 0%;
    
  }

  to {

    margin-left: 55%;    
    
  }

}

@keyframes slideout {

  from {

    margin-left: 100%;
    margin-top: -100%;    
  }

  to {

  	margin-left: 0%;
    margin-top: 0%    
  }

 }

 @keyframes sliding {

  from {

    margin-left: -100%;
    color:black;
  }

  to {

    margin-left: 0%;
    
  }

}