body {
background-image: url("../images/Eu5U.gif");
background-attachment: fixed; /* Le fond restera fixe */
}

#blockImg
{
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 vertical-align: top;
 font-size:13px;
}


#blockImg p {

    width: 100%;
    margin : auto;
    z-index: 200;
}
   
#blockTxt1
{
 width: 50%;
 position: absolute;
 top: 25px;
 left: 25%;
 text-shadow: 1px 1px cyan;
 text-align: center;
 font-family: "cursive", Arial, Sans-serif;
 font-size: 2.5em;
 color: purple;
} 


h1
{
 text-align: center;
 font-family: Verdana, Arial, Sans-serif;
 font-size: 1.5em;
 color: rgb(100,50,250);
}
    

#formu{

 width: 50%;
 position: absolute;
 top: 300%;
 left: 25%;
 text-align: center;
 font-family: Verdana, Arial, Sans-serif;
 font-size: 1.5em;
 color: white;
 box-shadow:  5px -5px 20px 15px rgba(10, 50, 80, 0.9)  ;


}


#submit:hover
{
 border: 2px solid black;
 background-color: gray;
}

#frgPwd
{
	color: black;
}

#frgPwd:hover
{
 border: 2px solid gray;
 color: gray;
 
}


#signUp
{
 color: white;

}

#signUp:hover
{
 border: 2px solid gray;
 color: purple;
}

#propos{

 position: absolute;
 top: 2300%;
 left: 10%;
 font-size: 1.5em;


}

#contact{

 position: absolute;
 top: 2400%;
 left: 10%;
 font-size: 1.5em;


}

#facebook{

 position: absolute;
 top: 2400%;
 left: 60%;

}

#twetter{

 position: absolute;
 top: 2400%;
 left: 70%;


}

#instagram{
	
 position: absolute;
 top: 2400%;
 left: 80%;

}

#hash{
	
 position: absolute;
 top: 2600%;
 left: 10%;
 font-size: 2.5em;

}

a {

 color: white;
 text-decoration: underline;
}

